@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg{
     background-image: url('../../public/record.jpg'); 
}
.contact-bg{
      background-image: url('../../public/bg.jpg'); 
      background-size: cover;
}

.userLogin-bg{
      background-image: url('../../public/8868.jpg');
}